@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

@theme {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  --color-color-1: #ac6aff;
  --color-color-2: #ffc876;
  --color-color-3: #ff776f;
  --color-color-4: #7adb78;
  --color-color-5: #858dff;
  --color-color-6: #ff98e2;

  --color-n-1: #ffffff;
  --color-n-2: #cac6dd;
  --color-n-3: #ada8c3;
  --color-n-4: #757185;
  --color-n-5: #3f3a52;
  --color-n-6: #252134;
  --color-n-7: #15131d;
  --color-n-8: #0e0c15;
  --color-n-9: #474060;
  --color-n-10: #43435c;
  --color-n-11: #1b1b2e;
  --color-n-12: #2e2a41;
  --color-n-13: #6c7275;

  --color-stroke-1: #26242c;
}

@layer components {
  .button {
    @apply font-mono text-xs font-bold uppercase tracking-wider;
  }
  .container {
    @apply max-w-310 mx-auto px-5 md:px-10 lg:px-15 xl:max-w-350;
  }
  .h1 {
    @apply font-semibold text-[2.5rem] leading-13 md:text-[2.75rem] md:leading-15 lg:text-[3.25rem] lg:leading-16.25 xl:text-[3.75rem] xl:leading-18;
  }
  .h2 {
    @apply text-[1.75rem] leading-10 md:text-[2rem] md:leading-10 lg:text-[2.5rem] lg:leading-14 xl:text-[3rem] xl:leading-tight;
  }
  .body-1 {
    @apply text-[0.875rem] leading-6 md:text-[1rem] md:leading-7 lg:text-[1.25rem] lg:leading-8;
  }
  .body-2 {
    @apply font-light text-[0.875rem] leading-6 md:text-base;
  }
  .tagline {
    @apply font-grotesk font-light text-xs tracking-widest uppercase;
  }
}
